<meta name="darkreader-lock" />
<style>
    .height-override { /* Allow resizing of panels */
        height: auto !important;
    }
    .border-badge-success-border { /* POST */
        color: #22c55e!important;
        border-color: #22c55e!important;
        background: transparent!important;
    }

    .border-badge-warning-border { /* PATCH */
        color: #da9e30!important;
        border-color: #da9e30!important;
        background: transparent!important;
    }

    .border-badge-danger-border { /* DELETE */
        color: #da3030!important;
        border-color: #da3030!important;
        background: transparent!important;
    }
</style>
<script src="/static/panel-fix.js"></script>